@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import "primeicons/primeicons.css";
@import "tailwindcss";
@import "tailwindcss-primeui";

@theme {
  --spacing-header: 64px;
  --font-sans: "Inter", system-ui, sans-serif;
}



body {
  font-family: var(--font-sans);
  background-color: var(--p-surface-0);
  color: var(--p-text-color);
}